
.container_card {
  border-radius: 20px;
  height: 275px;
  width: 360px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  margin: 0.3em;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_footer {
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: 60%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Roboto;
  padding-left: 0.6rem;
  transition: transform 0.35s;
  transform: translate3d(0,8rem,0);
}


.card_footer-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.6rem;
}

.card_footer p {
  font-size: 13px;
  font-weight: 300;
  margin: 0;
  margin-left: 0.4rem;
  opacity: 0;
  transition: opacity 0.35s;
}

.card_footer h2 {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  opacity: 0;
  transition: opacity 0.35s;
}

.card_footer:hover h2,
.card_footer:hover p {
  opacity: 1;
}


.card_footer h1 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-top: 0.5rem;
}


.card_footer:hover {
  transition: transform 0.35s;
  transform: translate3d(0, 0rem,0);
}

@media screen and (max-width: 320px) {
  .container_card {
    //width: 280px;
    width: 100%;
    height: 205px;
  }

  .card_footer {
    height: 80%
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .container_card {
    //width: 340px;
    width: 48%;;
    height: 249px;
  }

  .card_footer {
    height: 70%
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container_card {
    //width: 300px;
    width: 31%;
    height: 230px;
  }

  .card_footer {
    height: 70%
  }
}

@media screen and (min-width: 1025px) and (device-width: 1366px) {
  .container_card {
    //width: 360px;
    width: 27%;
    height: 275px;
  }
}


