.light {
  --theme-color: #FFFFFF;
  --theme-second-color: #000000;
  --theme-disabled-color: rgba(0, 0, 0, 0.3);
  --theme-select-input-background-color: #FFFFFF;
  --theme-shadows-color: rgba(0, 0, 0, 0.3);
  --theme-hover-pagination-color: #EDEDED;
  --theme-scrollbar_background-color: rgba(255, 255, 255, 0.1);
  --theme-input-in-select-color: #EFEFEF;
  --theme-svg-switch-color: #000000;
}

.dark {
  --theme-color: #000000;
  --theme-second-color: #FFFFFF;
  --theme-disabled-color: rgba(255, 255, 255, 0.3);
  --theme-select-input-background-color: #0C0C0C;
  --theme-shadows-color: rgba(255, 255, 255, 0.3);
  --theme-hover-pagination-color: #464646;
  --theme-scrollbar_background-color: rgba(0, 0, 0, 0.1);
  --theme-input-in-select-color: #FFFFFF;
  --theme-svg-switch-color: #FFFFFF;
}

body {
  margin: 0;
}

#root {
  background-color: var(--theme-color);
  font-family: Roboto;

  padding: 8px;
}

.gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
  margin-top: 1em;
}

.header__switch path{
  fill: var(--theme-svg-switch-color);
}

#logo {
  margin-right: auto;
  order: 1;
}

#switch {
  margin-left: auto;
  order: 2;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1em;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

.filters__input {
  width: 100%;
  height: 45px;
  background-color: var(--theme-select-input-background-color);
  border: 1px solid var(--theme-second-color);
  box-sizing: border-box;
  border-radius: 8px;
  padding-left: 1em;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: var(--theme-disabled-color);
}

.filters__select {
  height: 45px;
  width: 100%;
  outline: 1px solid var(--theme-second-color);
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;

  color: var(--theme-second-color);
  margin-left: 1em;
}

.filters__select ul {
  background-color: var(--theme-select-input-background-color);
  padding-left: 0;
  height: 17em;
  width: inherit;

  overflow-x: hidden;
  overflow-y: scroll;

  border: 1px solid #000000;
  border-top: 1px solid var(--theme-disabled-color);
  box-sizing: border-box;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.filters__select ul::-webkit-scrollbar {
  width: 12px;
}

.filters__select ul::-webkit-scrollbar-track {
  background: var(--theme-scrollbar_background-color);
  border-radius: 10px;
}

.filters__select ul::-webkit-scrollbar-thumb {
  background: #7B7B7B;

  box-shadow: 0px 2px 2px var(--theme-shadows-color);
  border-radius: 10px;
}

.Select--open {
  border-bottom: 1px solid var(--theme-disabled-color);
}

.filters__select p {
  margin: 0;
}

.filters__select li {
  width: inherit;
  padding-left: 1em;
  padding-top: 5px;
  padding-bottom: 5px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.filters__select span {

  display: inline-block;
  align-items: center;
  margin-left: 1em;
  margin-top: 1em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.filters__select .Select {
  padding-right: 10px !important;
  display: flex;
  width: inherit;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.filters__select .Select__arrow {
  display: inline-block;

  margin-right: 0;
  margin-top: 1em;
}

.Select__arrow svg{
  float: right;

  fill: var(--theme-disabled-color);
}

.filters__select li:hover {
  background-color: var(--theme-second-color);
  color: var(--theme-color);
}

.paintings {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paintings__gallery {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.paintings__pagination {
  width: 100%;
  max-width: 1100px;
  margin-top: 1em;
}

.PaginationPage {
  background: var(--theme-color);
  overflow: hidden;

  box-sizing: border-box;

  width: 1.5em;
  height: 1.5em;
  border: 1px solid var(--theme-second-color);
  border-right: none;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--theme-second-color);
}

.PaginationPage:nth-child(1){
  border: 1px solid var(--theme-second-color);
  box-sizing: border-box;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: none;
}

.PaginationPage:nth-child(2){
  border: 1px solid var(--theme-second-color);
  box-sizing: border-box;
  border-right: none;
}

.PaginationPage:nth-last-child(1) {
  border: 1px solid var(--theme-second-color);
  box-sizing: border-box;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none;
}

.PaginationPage:nth-last-child(2){
  border: 1px solid var(--theme-second-color);
  box-sizing: border-box;
}

.PaginationPage:hover {
  background: var(--theme-hover-pagination-color);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  /* or 111% */

  text-transform: uppercase;

  color: var(--theme-second-color);
}

.PaginationPage:disabled {
  background: var(--theme-color);
  color: var(--theme-second-color);
  border-color: var(--theme-disabled-color);
}

.PaginationPage:disabled:nth-last-child(2) {
  background: var(--theme-color);
  color: var(--theme-second-color);
  border-color: var(--theme-disabled-color);
  border-left: none;
}

.PaginationPage:disabled path{
  fill: var(--theme-disabled-color);
}

.PaginationPageWithActive,
.PaginationPageWithActive:hover {
  background: var(--theme-second-color);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  /* or 111% */

  text-transform: uppercase;

  color: var(--theme-color);
}

@media only screen and (max-width: 500px) {
  .body {
    max-width: 400px;
  }

  .header {
    width: 100%;
    max-width: 400px;
  }

  .filters__select,
  .filters__input {
    margin-bottom: 1em;
    margin-left: 0;
  }

  .filters {
    flex-direction: column;
    justify-content: center;
  }

  .filters__select span {
    width: 82%;
  }

  .paintings__pagination {
    margin-left: 1%;
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  .body {
    max-width: 700px;
  }

  .header {
    width: 100%;
    max-width: 700px;
  }

  .filters__select span {
    width: 68%;
  }

  .paintings__pagination {
    margin-left: 2%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .body {
    max-width: 1000px;
  }

  .header {
    width: 100%;
    max-width: 1000px;
  }

  .filters__select span {
    width: 75%;
  }

  .paintings__pagination {
    margin-left: 2%;
  }
}

@media only screen and (min-width: 1025px) {
  .body {
    max-width: 1100px;
  }

  .header {
    width: 100%;
    max-width: 1100px;
  }

  .filters__select span {
    width: 82%;
  }

  .paintings__pagination {
    margin-left: 2%;
  }
}



